{% extends "base.html" %}
{% block title %}Manga details{% endblock %}
{% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Detail informations</h2>
    </div>
</div>
<div class="row mt-5 mb-3">
    <div class="col-lg-6 mb-3">
        <h2 class="display-4 mb-3">{{ manga_detail.title }}</h2>
        <div class="bg-secondary text-light p-2 mb-3">Release year: {{ manga_detail.release_date.year }}, Pages: {{ manga_detail.pages }} pages,
            {% with ''|center:manga_detail.rating as range %}
            {% for _ in range %}★{% endfor %}
            {% endwith %}
            <b>{{ manga_detail.rating }}</b>
        </div>
        <div class="row">
            <div class="col-md-9">{{ manga_detail.plot }}</div>
            <div class="col-md-3">
                {% if manga_detail.poster %}
                <a href="{{ manga_detail.poster.url }}" data-toggle="lightbox" data-gallery="gallery">
                    <img src="{{ manga_detail.poster.url }}" class="img-fluid" alt="poster for manga">
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-6 bg-light p-3">
        <h3 class="border-bottom pb-3 text-secondary text-center text-uppercase">Fotogallery</h3>
        <div class="row">
        {% for image in manga_detail.attachment_set.all %}
            <div class="col-lg-6 col-xl-4">
                <a href="{{ image.file.url }}" data-toggle="lightbox" data-gallery="gallery">
                    <img src="{{ image.file.url }}" class="img-fluid img-thumbnail" alt="{{ image.title }}">
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
        <div class="col-lg-12 mb-3 bg-dark text-warning">
        <h3 class="text-center p-3">Review</h3>
    </div>
    <div class="col-lg-12 mb-3">
        {% for review in book_detail.review_set.all %}
            <h4>{% if review.author.profile.avatar %}<img src="{{ review.author.profile.avatar.url }}" alt="{{ review.author.user.prijmeni }}" class="rounded-circle" width="50">{% endif %}{{ review.author }} {{ review.edit_date }}</h4>
            <p>{{ review.text }}</p>
            <hr>
        {% endfor %}
    </div>
</div>
{% if user.is_authenticated %}
    <div class="row mb-3">
    <div class="col-sm-12 text-center">
        <a href="{% url 'manga-update' manga_detail.pk %}" class="btn btn-warning text-dark">Change</a>
        <a href="{% url 'manga-delete' manga_detail.pk %}" class="btn btn-dark text-warning">Delete</a>
    </div>
    </div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script>
    $(document).on("click", '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>
{% endblock %} 