{% extends "base.html" %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Password recovery: Send a message</h2>
    </div>
</div>
<div class="row mb-3">
    <div class="container">
        <h3>Password reset message has been sent</h3>
        <p>Password setup instructions have been sent to the email address you provided, if an account with that address exists. He should be here in a moment.</p>
        <p>If you do not receive the e-mail, make sure that the e-mail address you entered is the same as the one registered with your account and check the spam folder.</p>
    </div>
</div>
{% endblock %}