{% extends "base.html" %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Password recovery: link</h2>
    </div>
</div>
<div class="row mb-3">
    <div class="container">
        <h3>Password reset message has been sent</h3>
        <p>Someone requested a password reset via email {{ email }}.<br>
        Click on link: {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
    </div>
</div>
{% endblock %}